.container{
    width: 80%;
    margin-top: 5%;
    background-color: rgba(0, 0, 0, 0.829);
}
.top{
    min-height: 300px;
    border: 5px solid red;
}
.mid_bottom{
    margin-top: 5%;
    min-height: 200px;
    border: 5px solid red;
}
.input{
    height: 50px;
    width: 40%;
    margin-top: 2%;
    outline: none;
    border: none;
    font-size: 4vh;
    background-color: transparent;
    border-bottom: 3px solid orange;
    color: grey;
}
.input:focus{
    background-color: transparent;
    outline: 3px solid orange;
}
.addbtn{
    height: 50px;
    width: 50px;
    outline: 1px solid orange;
    border: 2px solid orange;
    background-color: transparent;
    font-size: 5vh;
    color: orange;
}
button:hover{
    cursor: pointer;
    color:aliceblue;
    background-color: orange;
}
.list{
    border: 2px solid orange;
    width:70%;
    color: orange;
    text-align: left;
    font-size: 3.5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.item{
    margin-left: 8%;
}
.delbtn{
    background-color: transparent;
    width: 25%;
    font-size: 8vh;
    color: orange;
    border: none;
    outline: none;
}
.delbtn:hover{
    cursor: pointer;
    color:aliceblue;
    background-color: orange;
}

@media only screen and (max-width: 600px) {
    .container{
        width: 95%;
    }
    .input{
        width: 90%;
    }
}